/* ESERCIZIO 1 */
.ex-1-square:hover{
    cursor: pointer;
    background-color: red;
    transition: 4s;
}

/* ESERCIZIO 2 */
.ex-2-square:active{
    cursor: pointer;
    width: 1100px;
    transition: 4s;
}

/* ESERCIZIO 3 */
.ex-3-square:hover{
    cursor: pointer;
    border-radius: 50%;
    transition: 2s;
}

/* ESERCIZIO 4 */
.ex-4-square:hover{
    cursor: pointer;
    opacity:0;
    transition: 4s;
}

/* ESERCIZIO 5 */
.ex-5-square:hover{
    cursor: pointer;
    transform: scale(2);
    transition: 2s;
}

.ex-5-square:active{
    cursor: pointer;
    transform: scale(0.5);
    transition: 2s;
}

/* ESERCIZIO 6 */
.ex-6-img:hover{
    cursor: pointer;
    filter: grayscale(1);
}

/* ESERCIZIO 7 */
.ex-7-img:hover{
    cursor: pointer;
    filter: saturate(3) opacity(0.5);
    transition: 4s;
}

/* ESERCIZIO 8 */
.ex-8-img:hover{
    cursor: pointer;
    border-radius: 25px;
    filter: brightness(0.5) saturate(4);
    transition: 4s;
}